:root {
    --colorPrincipal: #182A33;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    text-align: center;
    color: var(--colorPrincipal);
}

div {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 1000px;
}

img {
    width: 500px;
    height: 500px;
}

